.users-content{
  color: black;
}
.users-table{
  background-color: #d4d4d4;
}
.users-filter{
  border-radius: 7.5px;
  background-color: #e7e7e7;
  border-style: solid;
  border-width: thin;
  border-color: #c7c7c7;
}
.users-btn{
  float: right;
  color: white;
}
.table-scale{
  height: 100%;
  overflow: auto;
}
@import '../../theme/sass/conf/conf';
:host /deep/ .widgets {
  .data-table-container {
    width: 100%;
    .panel-heading {
      margin-top: 25px;
    }
  }
}
