


<h4 class="users-content">Agent Owner
  <button type="button" class="btn btn-primary btn-raised users-content users-btn" (click)="getAgentOwner()">Search new for Agent Owners</button>
</h4>
<i class="users-content">Look through current agent owners.</i>
<br><br>
<div class="vertical-scroll users-content">
  <table class="table table-striped users-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Birthday</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of agentOwnerData">
      <td> {{item.agentOwnerBody.firstName}} {{item.agentOwnerBody.lastName}} </td>
      <td> {{item.agentOwnerBody.email}} </td>
      <td> {{item.agentOwnerBody.address}} </td>
      <td> {{item.agentOwnerBody.birthday}} </td>
    </tr>
    </tbody>
  </table>
</div>

<br><br><br><br>

<h4 class="users-content">Agents
  <button type="button" class="btn btn-primary btn-raised users-content users-btn" (click)="getAgents()">Search new for Agents</button>
</h4>
<i class="users-content">Look through current agents.</i>
<br><br>
<div class="vertical-scroll users-content">
  <table class="table table-striped users-table">
    <thead>
    <tr>
      <th>Version</th>
      <th>Owner</th>
      <th>Type</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of agentData">
      <td> {{item.agentBody.version}} </td>
      <td> {{item.agentBody.owner}} </td>
      <td> {{item.agentBody.type}} </td>
      <td> {{item.agentBody.name}} </td>
    </tr>
    </tbody>
  </table>
</div>
