
<h2 class="status-content">Here you can see the Status / Metadata of the DTP</h2>

<br><br>

<div class="row">
  <div class="col-md-5 nodeMeta">
    <h3 class="status-content nodeMeta-header">DTP Instance</h3>
    <p class="status-content"><strong>IP:</strong> {{ nodeip }}</p>
    <p class="status-content"><strong>Port:</strong> {{ nodeport }}</p>
    <p class="status-content"><strong>Layer Names:</strong></p>
    <span class="status-content" *ngFor="let item of layernames">{{ item }}, </span>
    <br><br>
    <p class="status-content"><strong>Layer Beans:</strong></p>
    <span class="status-content" *ngFor="let item of layerbeans">{{ item }}, </span>
    <br><br>
    <p class="status-content"><strong>Date:</strong> {{ date }}</p>
  </div>

  <div class="col-md-1"></div>

  <div class="blockchain-data col-md-5">
    <div>
      <h3 class="status-content nodeMeta-header">Blockchain Description</h3>
      <p class="status-content"><strong>Id:</strong> {{ blockchainArray.id }}</p>
      <p class="status-content"><strong>Blockchain-Name:</strong> {{ blockchainArray.name }}</p>
      <p class="status-content"><strong>Description:</strong> {{ blockchainArray.description }}</p>
      <p class="status-content"><strong>Initializor-Agent-Owner Id:</strong> {{ blockchainArray.initAoId }}</p>
      <p class="status-content"><strong>Initializor-Agent-Owner First Name:</strong> {{ blockchainArray.initAoFirstName }}</p>
      <p class="status-content"><strong>Initializor-Agent-Owner Last Name:</strong> {{ blockchainArray.initAoIdLastName }}</p>
    </div>
    <br>
    <div class="button-wrapper">
      <button type="button" class="btn btn-primary btn-raised" (click)="getBlockchainData()">Show Blockchain-Data</button>
    </div>
  </div>
</div>

<br><br>

<div class="channels-block col-md-5">
  <div class="channels-info">
    <h3 class="status-content channel-header">Blockchain Status</h3>
    <div>
      <div class="channels-info-item status-content">
        <div class="legend-color"></div>
        <p class="activities-content">Pool Transactions<span class="channel-number">{{ infoArray.poolTransactions }}</span></p>
        <div class="progress progress-sm channel-progress">
          <div class="progress-bar" role="progressbar">
          </div>
        </div>
        <div class="legend-color"></div>
        <p class="activities-content">Queue Blocks<span class="channel-number">{{ infoArray.queueBlocks }}</span></p>
        <div class="progress progress-sm channel-progress">
          <div class="progress-bar" role="progressbar">
          </div>
        </div>
        <div class="legend-color"></div>
        <p class="activities-content">Chain Blocks<span class="channel-number">{{ infoArray.chainBlocks }}</span></p>
        <div class="progress progress-sm channel-progress">
          <div class="progress-bar" role="progressbar">
          </div>
        </div>
        <div class="legend-color"></div>
        <p class="activities-content">Ibd Blocks<span class="channel-number">{{ infoArray.ibdBlocks }}</span></p>
        <div class="progress progress-sm channel-progress">
          <div class="progress-bar" role="progressbar">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="button-wrapper">
    <button type="button" class="btn btn-primary btn-raised" (click)="getInfoData()">Update</button>
  </div>
</div>


