<!-- All layer configuration boxes are getting visualized dynamically with the "*ngFor"-statement -->

<br>

<h4 class="layer-content">Core Layer Configurations
  <button type="button" class="btn btn-primary btn-raised layer-content layer-btn" (click)="getCoreLayers()">Refresh Core Layers</button>
</h4>
<i class="layer-content">Below are the configurations of the current core layers.</i>
<br><br>
<div class="col-md-12 layer-box" *ngFor="let item of coreData">
  <br>
  <strong class="layer-content box-header"> {{ item.key }} </strong>
  <br><br>
  <p class="layer-content"><strong>Classname:</strong> {{ item.value.classname }} </p>
  <p class="layer-content"><strong>Summary:</strong><br><i> {{ item.value.configSummary }} </i></p>
</div>

<br><br><br>

<h4 class="layer-content">Layer Configurations
  <button type="button" class="btn btn-primary btn-raised layer-content layer-btn" (click)="getLayers()">Refresh Layers</button>
</h4>
<i class="layer-content">Below are the configurations of the current layers.</i>
<br><br>
<div class="col-md-12 layer-box" *ngFor="let item of layerData">
  <br>
  <strong class="layer-content box-header"> {{ item.key }} </strong>
  <br><br>
  <p class="layer-content"><strong>Classname:</strong> {{ item.value.classname }} </p>
  <p class="layer-content"><strong>Summary:</strong><br><i> {{ item.value.configSummary }} </i></p>
</div>
