<br><br>

<!--<button class="bc-content"(click)="getBcDataTest()">Test Filtered GET Request</button><<br>-->
<!--<p class="bc-content">Outlet: {{bcAll}}</p>-->

<!--<br>-->

<div class="bc-box col-md-12">
  <h3 class="bc-content bc-header">Pool Transactions</h3>
  <div id="pooltransactions-1">
    <div *ngFor="let item of poolTransactionData">
      <p class="bc-content"><strong>Id:</strong> {{ item.id }}</p>
      <p class="bc-content"><strong>DM-Version:</strong> {{ item.dmVersion }}</p>
      <br>
      <br>
    </div>
  </div>
  <div class="button-wrapper">
    <button type="button" id="pool1Button" class="btn btn-primary btn-raised" (click)="showPT()">Show Pool Transactions</button>
  </div>
</div>

<div class="bc-box col-md-12">
  <h3 class="bc-content bc-header">Pool Transactions</h3>
  <div id="queueblocks-1">
    <div *ngFor="let item of queueBlockData">
      <p class="bc-content"><strong>Id:</strong> {{ item.id }}</p>
      <p class="bc-content"><strong>DM-Version:</strong> {{ item.dmVersion }}</p>
      <br>
      <br>
    </div>
  </div>
  <div class="button-wrapper">
    <button type="button" id="queue1Button" class="btn btn-primary btn-raised" (click)="showQB()">Show Queue Blocks</button>
  </div>
</div>

<div class="bc-box col-md-12">
  <h3 class="bc-content bc-header">Chain Blocks</h3>
  <div id="chainblocks-1">
    <div *ngFor="let item of chainBlockData">
      <p class="bc-content"><strong>Id:</strong> {{ item.id }}</p>
      <p class="bc-content"><strong>DM-Version:</strong> {{ item.dmVersion }}</p>
      <br>
      <br>
    </div>
  </div>
  <div class="button-wrapper">
    <button type="button" id="chain1Button" class="btn btn-primary btn-raised" (click)="showCB()">Show Chain Blocks</button>
  </div>
</div>

<div class="bc-box col-md-12">
  <h3 class="bc-content bc-header">Chain Blocks</h3>
  <div id="ibdblocks-1">
    <div *ngFor="let item of ibdBlockData">
      <p class="bc-content"><strong>Id:</strong> {{ item.id }}</p>
      <p class="bc-content"><strong>DM-Version:</strong> {{ item.dmVersion }}</p>
      <br>
      <br>
    </div>
  </div>
  <div class="button-wrapper">
    <button type="button" id="ibd1Button" class="btn btn-primary btn-raised" (click)="showIB()">Show IBD Blocks</button>
  </div>
</div>
